@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --color-orange: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);

  --color-white: hsl(36, 100%, 99%);
  --color-blue-100: hsl(233, 8%, 79%);
  --color-blue-400: hsl(236, 13%, 42%);
  --color-blue-950: hsl(240, 100%, 5%);

  --font-family: "Inter", sans-serif;
  --font-size-body: 15px;
  --font-size-title-sm: 1.125rem;
  --font-size-title-md: 1.85rem;
  --font-size-title-lg: 2rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  background: var(--color-white);
  color: var(--very-dark-blue);
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background: var(--color-white);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.nav-link-wrap {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.nav-link {
  font-size: 1.25rem;
}

#close-menu-btn {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

main {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

article p {
  color: var(--color-blue-400);
  line-height: 1.6;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
}

.main-article h1 {
  font-size: var(--font-size-title-lg);
  font-weight: var(--font-weight-extra-bold);
}

.read-more-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  display: inline-block;
  background: var(--color-red);
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: 4px;
  &:hover {
    background: var(--color-blue-950);
    color: var(--color-white);
  }
}

.new-article-wrap {
  padding: 1.5rem;
  background: var(--color-blue-950);
  color: var(--color-white);
}

.new-article-wrap h2 {
  color: var(--color-orange);
  font-size: var(--font-size-title-md);
  font-weight: var(--font-weight-bold);
}

.new-article:not(:last-child) {
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-blue-100);
}

.new-article:last-child {
  padding: 2rem 0 0;
}

.new-article h3:hover {
  color: var(--color-orange);
}
.new-article p {
  color: var(--color-blue-100);
}

.other-article-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.other-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
.other-article img {
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.other-article h3:hover {
  color: var(--color-red);
}
.other-article p:first-child {
  margin-bottom: 0.5rem;
  color: var(--color-red);
  font-size: var(--font-size-title-md);
  font-weight: var(--font-weight-bold);
}

.new-article h3,
.other-article h3 {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-title-sm);
  font-weight: var(--font-weight-bold);
}

footer {
  margin: 6rem 0 2rem;

  text-align: center;
}
.attribution a {
  color: var(--color-orange);
  text-decoration: underline;
  &:hover {
    color: var(--color-red);
  }
}

@media (min-width: 736px) {
  nav {
    display: block;
  }
  nav {
    position: relative;
    width: auto;
    height: max-content;
    box-shadow: none;
  }
  .nav-link-wrap {
    padding: 0;
    flex-direction: row;
    gap: 3rem;
  }

  .nav-link {
    color: var(--color-blue-400);
    font-size: inherit;
    &:hover {
      color: var(--color-red);
    }
  }

  #close-menu-btn,
  #open-menu-btn {
    display: none;
  }
  .other-article {
    grid-template-columns: 1fr;
  }
  .other-article-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
  .other-article img {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  :root {
    --font-size-body: 1.125rem;
    --font-size-title-sm: 1.25rem;
    --font-size-title-md: 2.125rem;
    --font-size-title-lg: 3.25rem;
  }

  header {
    padding: 3rem 8% 3rem;
  }

  main {
    padding: 0 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 5rem 2rem;
  }
  
  .main-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-area: 1 / 1 / 3 / 3;
    gap: 2rem;
  }
  .main-article picture {
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
  }

  .main-article img {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  .main-article h1 {
    max-width: 10ch;
    grid-area: 3 / 1 / 4 / 2;
    line-height: 1;
  }

  .main-article .grid-btm-right {
    grid-area: 3 / 2 / 4 / 3;
    align-self: end;
  }

  .read-more-btn {
    margin-top: 2.25rem;
  }

  .new-article-wrap {
    grid-area: 1 / 3 / 3 / 4;
  }

  .other-article-wrap {
    grid-area: 3 / 1 / 4 / 4;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-body: 1.125rem;
    --font-size-title-sm: 1.5rem;
    --font-size-title-md: 2.25rem;
    --font-size-title-lg: 3.5rem;
  }

  header {
    padding: 5rem 10% 3rem;
  }
  main {
    padding: 0 10%;
  }
  .new-article:not(:last-child) {
    padding: 3rem 0;
  }

  .new-article:last-child {
    padding: 3rem 0 0;
  }
  .other-article {
    grid-template-columns: 150px 2fr;
  }
}
